body{
  background-color: Ivory;
  color: maroon;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}

.divine{
  background-color: DarkSlateBlue;
  color: Silver;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.button {
  background-color: #DarkGrey; /* Green */
  border: none;
  color: Black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.LGV{
  background-color: PowderBlue;
  color: DarkSlateGray;
}

.col{
  float: left;
  display: inline-block;
  height: 100%;
  width: 32.5%;
  border: 3px solid maroon;
}

.row{
  width: 100%;
  height: 400px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#thomas{
  background-image: url(tomas.jpg);
  background-size: cover;
}

#hit{
  background-image: url(hit.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#sparta{
  background-image: url(sparta.jpg);
  background-size: fill;
}

#stop{
  background-image: url(Stop.jpg);
  background-size: cover;
}

#dead{
  background-image: url(Dead.jpg);
  background-size: fill;
}

#fault{
  background-image: url(Fault.jpg);
  background-size: cover;
  background-position: bottom;
}

#tacos{
  background-image: url(tuesday.jpg);
  background-size: cover;
}

#joriel{
  background-image: url(Joriel.jpg);
  background-size: cover;
}

#loss{
    background-image: url(loss.png);
    background-size: contain;
}

#world{
  background-image: url(ZA_WARUDO.png);
  background-size: cover;
  background-position: center;
}

#swamp{
  background-image: url(swamp.jpg);
  background-size: cover;
}

#caroline{
    background-image: url(Caroline.jpg);
    background-size: contain;
}

#ppap{
  background-image: url(ppap.jpg);
  background-size: cover;
}

#weapons{
  background-image: url(Weapons.jpeg);
  background-size: cover;
}

#garfle{
    background-image: url(garfle_ded.jpg);
    background-size: cover;
}

#harry{
  background-image: url(Harry.jpg);
  background-size: cover;
}                                                   

#HIMHEYS{
  background-image: url(HIMHEYS.png);
  background-size: contain;
}
